body {
    background-color: white;
}

h1,
h3,
p {
    text-align: center;
}

#container {
    margin: auto;
}

.link {
    stroke: red;
}

#flags {
    position: absolute;
}

/*
* find the flag-sprite here: https://www.flag-sprites.com/
* create an image and downlaod the file...
*
* You don't have to upload your own image,
* you can simply right click on the flag-sprites's image
* and select copy image address.
*
* In flags.css (from the file you download) you can copy-paste the .flag.flag-ad section
*/

.flag {
    width: 16px;
    height: 11px;
    position: absolute;
    background: url(https://media.flag-sprites.com/veowpp/flags.png) no-repeat;
}

.flag.flag-ad {
    background-position: -16px 0;
}
.flag.flag-ae {
    background-position: -32px 0;
}
.flag.flag-af {
    background-position: -48px 0;
}
.flag.flag-ag {
    background-position: -64px 0;
}
.flag.flag-ai {
    background-position: -80px 0;
}
.flag.flag-al {
    background-position: -96px 0;
}
.flag.flag-am {
    background-position: -112px 0;
}
.flag.flag-an {
    background-position: -128px 0;
}
.flag.flag-ao {
    background-position: -144px 0;
}
.flag.flag-ar {
    background-position: -160px 0;
}
.flag.flag-as {
    background-position: -176px 0;
}
.flag.flag-at {
    background-position: -192px 0;
}
.flag.flag-ci {
    background-position: -144px -22px;
}
.flag.flag-ck {
    background-position: -160px -22px;
}
.flag.flag-cl {
    background-position: -176px -22px;
}
.flag.flag-cm {
    background-position: -192px -22px;
}
.flag.flag-cn {
    background-position: -208px -22px;
}
.flag.flag-co {
    background-position: -224px -22px;
}
.flag.flag-cr {
    background-position: -240px -22px;
}
.flag.flag-cu {
    background-position: 0 -33px;
}
.flag.flag-cv {
    background-position: -16px -33px;
}
.flag.flag-cw {
    background-position: -32px -33px;
}
.flag.flag-cy {
    background-position: -48px -33px;
}
.flag.flag-cz {
    background-position: -64px -33px;
}
.flag.flag-de {
    background-position: -80px -33px;
}
.flag.flag-dj {
    background-position: -96px -33px;
}
.flag.flag-ye {
    background-position: -128px -165px;
}
.flag.flag-yt {
    background-position: -144px -165px;
}
.flag.flag-za {
    background-position: -160px -165px;
}
.flag.flag-zanzibar {
    background-position: -176px -165px;
}
.flag.flag-zm {
    background-position: -192px -165px;
}
.flag.flag-zw {
    background-position: -208px -165px;
}

/*
 * Footer
 */
a:link {
    color: orangered;
    text-decoration: none;
}
a:visited {
    color: orangered;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}

.tableFooter {
    margin-top: 15px;
}
.footerSvg {
    width: 32px;
}

