.mediaViewInfo {
	--web-view-name: Logo Page;
	--web-view-id: Logo_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Logo_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Logo_Page {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(25,19,31,1);
	overflow: hidden;
	--web-view-name: Logo Page;
	--web-view-id: Logo_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
#DATA_MODELLING_LOGO_Logo_colou {
	position: absolute;
	width: 31.9%;
	height: auto;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	overflow: visible;
	cursor: pointer;
}
